[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
pymongo = "*"
redis = "*"
gunicorn = "*"
firebase-admin = "*"
dependency-injector = "*"
pydantic = "*"
cryptography = "*"
pyjwt = "*"
bcrypt = "*"
blinker = "*"

[dev-packages]

[requires]
python_version = "3.10"
